@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
:root {
  --color-primary: #7E43FF;
  --color-secondary: #566073;
  --color-details: #e4e9f5;
  --color-bg: #fff;
  --color-text: #566073;
}

body {
  color: var(--color-primary);
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
}
